body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
}
.header {
  z-index: 1;
  position: relative;
  height: 56px;
  border-bottom: 1px solid #000000;
  background-color: #000000;
}

.brand {
  cursor: pointer;
  padding-left: 20px;
  color: white;
  margin: 10px;
  font-size: 20px;
}

.w-full {
  width: 100%;
}

.pl-10 {
  padding-left: 10px;
}
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center !important;
}
.justify-content-left {
  justify-content: left;
}
.align-items-center {
  align-items: center;
}

.color-white {
  color: white !important;
}

.main-left {
  height: 100vh;
  overflow: scroll;
}

.main-right {
  margin-top: 30px;
  height: 100vh;
  margin-left: 20px;
  /* margin-right: 0; */
}

.results {
  margin: 20px 10px;
  color: #666;
  font-weight: 100;
}

.list {
  display: flex;
  overflow: hidden;
  height: 100px;
  padding: 10px 0;
  margin-left: 10px;
  margin: 0 10px;
  line-height: 20px;
  border-bottom: 1px solid #dcdcdc;
  /* margin-bottom: 10px; */
  cursor: pointer;
}
.list:hover {
  background-color: #dcdcdc;
}

.poster {
  /* display: flex; */
  margin-top: 10px;
  width: 50px;
  height: 50px;
  float: left;
}
.detail-container {
  /* display: block; */
  margin: 20px 20px;
}

.layer-1 {
  display: inline-block;
  /* width: 100%; */
  height: auto;
  border-bottom: 1px soild #666 !important;
}
.layer-2 {
  /* display: inline-block; */
  width: 100%;
  height: auto;
  /* margin: 20px; */
  border-bottom: 1px soild #666;
}

.detail-poster {
  width: 200px;
  height: 300px;
  margin-top: 10px;
  border-radius: 8px;
  /* float: inline-start; */
}

.watchlist {
  display: inline-block;
  float: right;
  margin: 10px 20px;
  padding: 8px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.detail-title {
  /* display: inline-block; */
  /* display: inline-flex; */
  margin-top: 75px;
  /* width: 400px; */
  /* margin-left: 15px; */

  /* height: 300px; */
  /* float: right; */
}

.pg {
  display: inline;
  border: 1px solid #666;
  color: #000000;
  border-radius: 2px;
  width: fit-content;
  padding: 0 8px;
  cursor: pointer;
}
.pg:hover {
  background-color: rgb(216, 216, 216);
}
.secindary-text {
  font-size: 15px;
  color: #666;
  font-weight: 100;
}

.pic {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.title {
  /* display: flex; */
  margin-top: 10px;
  margin-left: 10px;
  /* display: inline-flex; */
  float: right;
}

.year {
  color: #666;
  font-size: 14px;
}

.ratings {
  /* display: inline-block; */
  justify-content: space-between;
  /* width: 150px; */
  /* grid-template-columns: repeat(3, 50px 1fr) 100px; */
  border-right: 1px solid #dcdcdc;
  margin: 10px 10px;
  padding: 0 10px;
}

.rating-font {
  text-align: center;
  color: #666;
  font-size: 15px;
}

.font-14 {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 2px;
}
