body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  z-index: 1;
  position: relative;
  height: 56px;
  border-bottom: 1px solid #000000;
  background-color: #000000;
}

.brand {
  cursor: pointer;
  padding-left: 20px;
  color: white;
  margin: 0px;
  font-size: 20px;
}

.w-full {
  width: 100%;
}

.pl-10 {
  padding-left: 10px;
}
.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-left {
  justify-content: left;
}
.align-items-center {
  align-items: center;
}

.color-white {
  color: white !important;
}

.main-left {
  margin-left: 15px;
  /* padding-top: 30px; */
  width: 280px;
  float: left;
  border-right: 2px solid #000000;
  height: 100vh;
}

.main-right {
  width: 625px;
  float: right;
  height: 100vh;
}
